/MarcelJoachimKloubert.CLRToolboxReloaded.NET4_0/obj
/MarcelJoachimKloubert.CLRToolboxReloaded.NET4_0/bin
/MarcelJoachimKloubert.CLRToolboxReloaded.NET4_5/obj
/MarcelJoachimKloubert.CLRToolboxReloaded.NET4_5/bin
/MarcelJoachimKloubert.CLRToolboxReloaded.Portable.NET4_0/obj
/MarcelJoachimKloubert.CLRToolboxReloaded.Portable.NET4_0/bin
/MarcelJoachimKloubert.CLRToolboxReloaded.Portable.NET4_5/obj
/MarcelJoachimKloubert.CLRToolboxReloaded.Portable.NET4_5/bin

*.suo
/MarcelJoachimKloubert.CLRToolboxReloaded.Mono.Mono4_0/obj
/MarcelJoachimKloubert.CLRToolboxReloaded.Mono.Mono4_0/bin
*.userprefs
/MarcelJoachimKloubert.CLRToolboxReloaded.Mono.Portable/obj
/MarcelJoachimKloubert.CLRToolboxReloaded.Mono.Portable/bin
/MarcelJoachimKloubert.CLRToolboxReloaded.NET4_5.Libs/obj
/MarcelJoachimKloubert.CLRToolboxReloaded.NET4_5.Libs/bin
/MarcelJoachimKloubert.CLRToolboxReloaded.NET4_0.Libs/obj
/MarcelJoachimKloubert.CLRToolboxReloaded.NET4_0.Libs/bin
/MarcelJoachimKloubert.CLRToolboxReloaded.Portable.NET4_0.Libs/obj
/MarcelJoachimKloubert.CLRToolboxReloaded.Portable.NET4_0.Libs/bin
/MarcelJoachimKloubert.CLRToolboxReloaded.Portable.NET4_5.Libs/obj
/MarcelJoachimKloubert.CLRToolboxReloaded.Portable.NET4_5.Libs/bin
/MarcelJoachimKloubert.CLRToolboxReloaded.Mono.Portable4_0.Libs/obj
/MarcelJoachimKloubert.CLRToolboxReloaded.Mono.Portable4_0.Libs/bin
/MarcelJoachimKloubert.CLRToolboxReloaded.Mono.Mono4_0.Libs/bin
/MarcelJoachimKloubert.CLRToolboxReloaded.NET4_0.Tests/obj
/MarcelJoachimKloubert.CLRToolboxReloaded.NET4_0.Tests/bin
/MarcelJoachimKloubert.CLRToolboxReloaded.NET4_5.Tests/obj
/MarcelJoachimKloubert.CLRToolboxReloaded.NET4_5.Tests/bin
/MarcelJoachimKloubert.CLRToolboxReloaded.Silverlight/obj
/MarcelJoachimKloubert.CLRToolboxReloaded.Silverlight/Bin
/MarcelJoachimKloubert.CLRToolboxReloaded.Silverlight/*.user
/MarcelJoachimKloubert.CLRToolboxReloaded.WindowsStore/obj
/MarcelJoachimKloubert.CLRToolboxReloaded.WindowsStore/bin
/MarcelJoachimKloubert.CLRToolboxReloaded.WindowsPhone/obj
/MarcelJoachimKloubert.CLRToolboxReloaded.WindowsPhone/Bin
/MarcelJoachimKloubert.CLRToolboxReloaded.WindowsPhone/*.user
/MarcelJoachimKloubert.CLRToolboxReloaded.Mono.Mono4_0.Libs/obj
/MarcelJoachimKloubert.CLRToolboxReloaded.Mono.Mono4_0.Libs/bin
/MarcelJoachimKloubert.CLRToolboxReloaded.Mono.Mono4_0.Tests/obj
/MarcelJoachimKloubert.CLRToolboxReloaded.Mono.Mono4_0.Tests/bin
/MarcelJoachimKloubert.CLRToolboxReloaded.Mono.Portable4_0.Libs/MarcelJoachimKloubert.CLRToolboxReloaded.Mono.Portable4_0/obj
/MarcelJoachimKloubert.CLRToolboxReloaded.Mono.Portable4_0.Libs/MarcelJoachimKloubert.CLRToolboxReloaded.Mono.Portable4_0/bin
/MarcelJoachimKloubert.CLRToolboxReloaded.NET4_0.Web/obj
/MarcelJoachimKloubert.CLRToolboxReloaded.NET4_0.Web/bin
/MarcelJoachimKloubert.CLRToolboxReloaded.NET4_5.Web/obj
/MarcelJoachimKloubert.CLRToolboxReloaded.NET4_5.Web/bin
/MarcelJoachimKloubert.CLRToolboxReloaded.Mono.Mono4_0.Web/bin
/MarcelJoachimKloubert.CLRToolboxReloaded.Mono.Mono4_0.Web/obj
/MarcelJoachimKloubert.CLRToolboxReloaded.NET4_0.WinForms/obj
/MarcelJoachimKloubert.CLRToolboxReloaded.NET4_0.WinForms/bin
/MarcelJoachimKloubert.CLRToolboxReloaded.NET4_5.WinForms/obj
/MarcelJoachimKloubert.CLRToolboxReloaded.NET4_5.WinForms/bin
/MarcelJoachimKloubert.CLRToolboxReloaded.Mono.Mono4_0.WinForms/bin
/MarcelJoachimKloubert.CLRToolboxReloaded.NET4_0.WPF/obj
/MarcelJoachimKloubert.CLRToolboxReloaded.NET4_0.WPF/bin
/MarcelJoachimKloubert.CLRToolboxReloaded.NET4_5.WPF/obj
/MarcelJoachimKloubert.CLRToolboxReloaded.NET4_5.WPF/bin
/MarcelJoachimKloubert.CLRToolboxReloaded.Mono.Mono4_0.WinForms/obj
/Projects/MarcelJoachimKloubert.FinancePlaner/packages
/Projects/MarcelJoachimKloubert.FinancePlaner/MarcelJoachimKloubert.FinancePlaner/obj
/Projects/MarcelJoachimKloubert.FinancePlaner/MarcelJoachimKloubert.FinancePlaner/bin
/Projects/MarcelJoachimKloubert.SecureEmail/MarcelJoachimKloubert.SecureEmail/obj
/Projects/MarcelJoachimKloubert.SecureEmail/MarcelJoachimKloubert.SecureEmail/bin
/Projects/MarcelJoachimKloubert.SecureEmail/packages
