/MarcelJoachimKloubert.CLRToolboxReloaded.NET4_0/obj
/MarcelJoachimKloubert.CLRToolboxReloaded.NET4_0/bin
/MarcelJoachimKloubert.CLRToolboxReloaded.NET4_5/obj
/MarcelJoachimKloubert.CLRToolboxReloaded.NET4_5/bin
/MarcelJoachimKloubert.CLRToolboxReloaded.Portable.NET4_0/obj
/MarcelJoachimKloubert.CLRToolboxReloaded.Portable.NET4_0/bin
/MarcelJoachimKloubert.CLRToolboxReloaded.Portable.NET4_5/obj
/MarcelJoachimKloubert.CLRToolboxReloaded.Portable.NET4_5/bin

*.suo
/MarcelJoachimKloubert.CLRToolboxReloaded.Mono.Mono4_0/obj
/MarcelJoachimKloubert.CLRToolboxReloaded.Mono.Mono4_0/bin
*.userprefs
/MarcelJoachimKloubert.CLRToolboxReloaded.Mono.Portable/obj
/MarcelJoachimKloubert.CLRToolboxReloaded.Mono.Portable/bin
/MarcelJoachimKloubert.CLRToolboxReloaded.NET4_5.Libs/obj
/MarcelJoachimKloubert.CLRToolboxReloaded.NET4_5.Libs/bin
/MarcelJoachimKloubert.CLRToolboxReloaded.NET4_0.Libs/obj
/MarcelJoachimKloubert.CLRToolboxReloaded.NET4_0.Libs/bin
/MarcelJoachimKloubert.CLRToolboxReloaded.Portable.NET4_0.Libs/obj
/MarcelJoachimKloubert.CLRToolboxReloaded.Portable.NET4_0.Libs/bin
/MarcelJoachimKloubert.CLRToolboxReloaded.Portable.NET4_5.Libs/obj
/MarcelJoachimKloubert.CLRToolboxReloaded.Portable.NET4_5.Libs/bin
/MarcelJoachimKloubert.CLRToolboxReloaded.Mono.Portable4_0.Libs/obj
/MarcelJoachimKloubert.CLRToolboxReloaded.Mono.Portable4_0.Libs/bin
/MarcelJoachimKloubert.CLRToolboxReloaded.Mono.Mono4_0/MarcelJoachimKloubert.CLRToolboxReloaded.Mono.Mono4_0.Libs/bin
/MarcelJoachimKloubert.CLRToolboxReloaded.Mono.Mono4_0.Libs/bin
/MarcelJoachimKloubert.CLRToolboxReloaded.Mono.Mono4_0/MarcelJoachimKloubert.CLRToolboxReloaded.Mono.Mono4_0.Libs/obj
/MarcelJoachimKloubert.CLRToolboxReloaded.Mono.Mono4_0/MarcelJoachimKloubert.CLRToolboxReloaded.Mono.Mono4_0.Libs/bin
/MarcelJoachimKloubert.CLRToolboxReloaded.Mono.Portable4_0.Libs/MarcelJoachimKloubert.CLRToolboxReloaded.Mono.Portable4_0/obj
/MarcelJoachimKloubert.CLRToolboxReloaded.Mono.Portable4_0.Libs/MarcelJoachimKloubert.CLRToolboxReloaded.Mono.Portable4_0/bin
