/MarcelJoachimKloubert.CLRToolboxReloaded.NET4_0/obj
/MarcelJoachimKloubert.CLRToolboxReloaded.NET4_0/bin
/MarcelJoachimKloubert.CLRToolboxReloaded.NET4_5/obj
/MarcelJoachimKloubert.CLRToolboxReloaded.NET4_5/bin
/MarcelJoachimKloubert.CLRToolboxReloaded.Portable.NET4_0/obj
/MarcelJoachimKloubert.CLRToolboxReloaded.Portable.NET4_0/bin
/MarcelJoachimKloubert.CLRToolboxReloaded.Portable.NET4_5/obj
/MarcelJoachimKloubert.CLRToolboxReloaded.Portable.NET4_5/bin

*.suo
/MarcelJoachimKloubert.CLRToolboxReloaded.Mono.Mono4_0/obj
/MarcelJoachimKloubert.CLRToolboxReloaded.Mono.Mono4_0/bin
*.userprefs
/MarcelJoachimKloubert.CLRToolboxReloaded.Mono.Portable/obj
/MarcelJoachimKloubert.CLRToolboxReloaded.Mono.Portable/bin
/MarcelJoachimKloubert.CLRToolboxReloaded.NET4_5.Libs/obj
/MarcelJoachimKloubert.CLRToolboxReloaded.NET4_5.Libs/bin
/MarcelJoachimKloubert.CLRToolboxReloaded.NET4_0.Libs/obj
/MarcelJoachimKloubert.CLRToolboxReloaded.NET4_0.Libs/bin
/MarcelJoachimKloubert.CLRToolboxReloaded.Portable.NET4_0.Libs/obj
/MarcelJoachimKloubert.CLRToolboxReloaded.Portable.NET4_0.Libs/bin
/MarcelJoachimKloubert.CLRToolboxReloaded.Portable.NET4_5.Libs/obj
/MarcelJoachimKloubert.CLRToolboxReloaded.Portable.NET4_5.Libs/bin
/MarcelJoachimKloubert.CLRToolboxReloaded.Mono.Portable4_0.Libs/obj
/MarcelJoachimKloubert.CLRToolboxReloaded.Mono.Portable4_0.Libs/bin
/MarcelJoachimKloubert.CLRToolboxReloaded.Mono.Mono4_0.Libs/bin
/MarcelJoachimKloubert.CLRToolboxReloaded.NET4_0.Tests/obj
/MarcelJoachimKloubert.CLRToolboxReloaded.NET4_0.Tests/bin
/MarcelJoachimKloubert.CLRToolboxReloaded.NET4_5.Tests/obj
/MarcelJoachimKloubert.CLRToolboxReloaded.NET4_5.Tests/bin
/MarcelJoachimKloubert.CLRToolboxReloaded.Silverlight/obj
/MarcelJoachimKloubert.CLRToolboxReloaded.Silverlight/Bin
/MarcelJoachimKloubert.CLRToolboxReloaded.Silverlight/*.user
/MarcelJoachimKloubert.CLRToolboxReloaded.WindowsStore/obj
/MarcelJoachimKloubert.CLRToolboxReloaded.WindowsStore/bin
/MarcelJoachimKloubert.CLRToolboxReloaded.WindowsPhone/obj
/MarcelJoachimKloubert.CLRToolboxReloaded.WindowsPhone/Bin
/MarcelJoachimKloubert.CLRToolboxReloaded.WindowsPhone/*.user
/MarcelJoachimKloubert.CLRToolboxReloaded.Mono.Mono4_0.Libs/obj
/MarcelJoachimKloubert.CLRToolboxReloaded.Mono.Mono4_0.Libs/bin
/MarcelJoachimKloubert.CLRToolboxReloaded.Mono.Mono4_0.Tests/obj
/MarcelJoachimKloubert.CLRToolboxReloaded.Mono.Mono4_0.Tests/bin
/MarcelJoachimKloubert.CLRToolboxReloaded.Mono.Portable4_0.Libs/MarcelJoachimKloubert.CLRToolboxReloaded.Mono.Portable4_0/obj
/MarcelJoachimKloubert.CLRToolboxReloaded.Mono.Portable4_0.Libs/MarcelJoachimKloubert.CLRToolboxReloaded.Mono.Portable4_0/bin
/MarcelJoachimKloubert.CLRToolboxReloaded.NET4_0.Web/obj
/MarcelJoachimKloubert.CLRToolboxReloaded.NET4_0.Web/bin
/MarcelJoachimKloubert.CLRToolboxReloaded.NET4_5.Web/obj
/MarcelJoachimKloubert.CLRToolboxReloaded.NET4_5.Web/bin
/MarcelJoachimKloubert.CLRToolboxReloaded.Mono.Mono4_0.Web/bin
/MarcelJoachimKloubert.CLRToolboxReloaded.Mono.Mono4_0.Web/obj
/MarcelJoachimKloubert.CLRToolboxReloaded.NET4_0.WinForms/obj
/MarcelJoachimKloubert.CLRToolboxReloaded.NET4_0.WinForms/bin
/MarcelJoachimKloubert.CLRToolboxReloaded.NET4_5.WinForms/obj
/MarcelJoachimKloubert.CLRToolboxReloaded.NET4_5.WinForms/bin
/MarcelJoachimKloubert.CLRToolboxReloaded.Mono.Mono4_0.WinForms/bin
/MarcelJoachimKloubert.CLRToolboxReloaded.NET4_0.WPF/obj
/MarcelJoachimKloubert.CLRToolboxReloaded.NET4_0.WPF/bin
/MarcelJoachimKloubert.CLRToolboxReloaded.NET4_5.WPF/obj
/MarcelJoachimKloubert.CLRToolboxReloaded.NET4_5.WPF/bin
/MarcelJoachimKloubert.CLRToolboxReloaded.Mono.Mono4_0.WinForms/obj
/Projects/MarcelJoachimKloubert.FinancePlaner/packages
/Projects/MarcelJoachimKloubert.FinancePlaner/MarcelJoachimKloubert.FinancePlaner/obj
/Projects/MarcelJoachimKloubert.FinancePlaner/MarcelJoachimKloubert.FinancePlaner/bin
/Projects/MarcelJoachimKloubert.SecureEmail/MarcelJoachimKloubert.SecureEmail/obj
/Projects/MarcelJoachimKloubert.SecureEmail/MarcelJoachimKloubert.SecureEmail/bin
/Projects/MarcelJoachimKloubert.SecureEmail/packages
/Projects/MarcelJoachimKloubert.SecureEmail/MarcelJoachimKloubert.SecureEmail/config.ini
/pp
/Projects/MarcelJoachimKloubert.FileBox/MarcelJoachimKloubert.FileBox.v12.suo
/Projects/MarcelJoachimKloubert.FileBox/packages
/Projects/MarcelJoachimKloubert.FileBox/MarcelJoachimKloubert.FileBox.Client/obj
/Projects/MarcelJoachimKloubert.FileBox/MarcelJoachimKloubert.FileBox.Client/bin
/Projects/MarcelJoachimKloubert.FileBox/MarcelJoachimKloubert.FileBox.SDK/obj
/Projects/MarcelJoachimKloubert.FileBox/MarcelJoachimKloubert.FileBox.SDK/bin
/Projects/MarcelJoachimKloubert.FileBox/MarcelJoachimKloubert.FileBox.ServerOld/obj
/Projects/MarcelJoachimKloubert.FileBox/MarcelJoachimKloubert.FileBox.ServerOld/bin
/Projects/MarcelJoachimKloubert.FileBox/MarcelJoachimKloubert.FileBox.ServerOld/config.json
/Projects/MarcelJoachimKloubert.FileBox/MarcelJoachimKloubert.FileBox.ServerOld/MarcelJoachimKloubert.FileBox.Server.csproj.user
/Projects/MarcelJoachimKloubert.FileBox/MarcelJoachimKloubert.FileBox/obj
/Projects/MarcelJoachimKloubert.FileBox/MarcelJoachimKloubert.FileBox/bin
/Projects/MarcelJoachimKloubert.FileBox/MarcelJoachimKloubert.FileBox/MarcelJoachimKloubert.FileBox.csproj.user
/Projects/MarcelJoachimKloubert.FileBox/MarcelJoachimKloubert.FileBox/key.xml
/Projects/MarcelJoachimKloubert.FileBox/MarcelJoachimKloubert.FileBox.ServerOld/files/mkloubert/key.xml
/Projects/MarcelJoachimKloubert.FileBox/MarcelJoachimKloubert.FileBox.ServerOld/files/tm/key.xml
/Projects/MarcelJoachimKloubert.FileBox/MarcelJoachimKloubert.FileBox.Server/config.json
/Projects/MarcelJoachimKloubert.FileBox/MarcelJoachimKloubert.FileBox.Server/files/mkloubert/key.xml
/Projects/MarcelJoachimKloubert.FileBox/MarcelJoachimKloubert.FileBox.Server/files/tm/key.xml
/Projects/MarcelJoachimKloubert.FileBox/MarcelJoachimKloubert.FileBox.Server/obj
/Projects/MarcelJoachimKloubert.FileBox/MarcelJoachimKloubert.FileBox.Server/bin
/Examples/MarcelJoachimKloubert.ClrToolboxReloaded.Examples.GZip/obj
/Examples/MarcelJoachimKloubert.ClrToolboxReloaded.Examples.GZip/bin
/Examples/MarcelJoachimKloubert.ClrToolboxReloaded.Examples.GZip/App.config
/Examples/MarcelJoachimKloubert.JobScheduler/MarcelJoachimKloubert.JobScheduler.v12.suo
/Examples/MarcelJoachimKloubert.JobScheduler/MarcelJoachimKloubert.JobScheduler/bin
/Examples/MarcelJoachimKloubert.JobScheduler/MarcelJoachimKloubert.JobScheduler/obj
/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.ApplicationServer/obj
/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.ApplicationServer/bin
/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.ApplicationServer.Modules.Api/obj
/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.ApplicationServer.Modules.Api/bin
/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.ApplicationServer.SDK/obj
/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.ApplicationServer.SDK/bin
/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.ApplicationServer.TestHost/obj
/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.ApplicationServer.TestHost/bin
